## Question1

#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)
    print(a)
    
def c(a):
    return a+2

In [2]:
b()
b()
b()

2
4
6

In [3]:
a

6

#### Explaination :

##### First of all, 0 value is assigend to 'a'.Then the function 'b()' is called, it assigns the global variable 'a' to the result of 'c(a)'. Intially 'a=0' that is why 'c(a)' returns 2 because function 'c(a)' returns '0+2'. As a result, 2 is assigned to 'a'. Secondly, Function 'b' is called again, same as previous it follows the step and 'b()' assigns 4 to 'a' now as '2+2' retuned by 'c(a)'. Thirdly, once agian function 'b' is called and repeats the step and assigend the 6 to 'a', which is 4+2 as 'c(a)' is 'a+2'. Finally, when the value of 'a' is evaluted, it returns the current value of 'a', which is 6.
##### Therefore, it displays 6.

## Question 2

In [4]:
def file_length(file_name):

    try:
        file_read = open(file_name)
        file_data = file_read.read()
        file_read.close()
        print(len(file_data))

    except FileNotFoundError:
        print(f"file {file_name} is not found.")

In [5]:
file_length("C:/GEORGIAN/Data Programming/pb2.txt")

123

In [6]:
file_length("C:/GEORGIAN/Data Programming/pb1.txt")

file C:/GEORGIAN/Data Programming/pb1.txt is not found.

## Question 3

In [7]:
class Marsupial:

    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, product):
        self.pouch.append(product)
   
    def pouch_contents(self):
        return self.pouch

In [8]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [9]:
class Kangaroo(Marsupial):

    def __init__(self, x1=0, x2=0):
        super().__init__()
        self.x1 = x1
        self.x2 = x2

    def jump(self, dx, dy):
        self.x1 += dx
        self.x2 += dy

    def __str__(self):
        return (f"I am a Kangaroo located at coordinates ({self.x1},{self.x2})")

In [10]:
k = Kangaroo(0,0)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

## Question 4

In [11]:
def collatz(x):
    print(x)
    
    if x == 1:
        return

    elif x % 2 == 0:
        collatz(x // 2)

    else:
        collatz(3 * x + 1)

In [12]:
collatz(1)

1

In [13]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [14]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [15]:
binary(0)

0

In [16]:
binary(1)

1

In [17]:
binary(3)

11

In [18]:
binary(9)

1001

## Question 6

In [19]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading_size = 0
        self.is_heading = False

    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.heading_size = 1
            self.is_heading = True
        elif tag == 'h2':
            self.heading_size = 2
            self.is_heading = True
        else:
            self.is_heading = False

    def handle_data(self, data):
        if self.is_heading:
            indent = '  ' * (self.heading_size - 1)
            heading_data = data.strip()
            if heading_data:
                print(f"{indent}{heading_data}")


address = r"C:/GEORGIAN/Data Programming/w3c.html"
with open(address, 'r') as infile:
    content = infile.read()

hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

## Question 7

In [20]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class MyHTMLParser(HTMLParser):

    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            href = dict(attrs).get('href')
            if href:
                self.links.append(href)
def webdir(url, depth, indent):
    print(" " * indent, url)
    if depth == 0:
        return
    try:
        response = urlopen(url)
        html_content = response.read().decode()
    except:
        return
    parser = MyHTMLParser()
    parser.feed(html_content)
    links = parser.links
    for link in links:
        sub_url = urljoin(url, link)
        webdir(sub_url, depth - 1, indent + 4)

In [21]:
webdir("https://reed.cs.depaul.edu/lperkovic/", 2, 0)

 https://reed.cs.depaul.edu/lperkovic/
     http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
     http://www.cdm.depaul.edu
     https://reed.cs.depaul.edu/lperkovic/courses/csc241/
     https://reed.cs.depaul.edu/lperkovic/courses/csc242/
     https://reed.cs.depaul.edu/lperkovic/papers/papers.html

## Question 8

In [32]:
import pandas as pd
import sqlite3

data = {
    'City': ['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'London', 'London', 'London', 'London', 'Cairo', 'Cairo', 'Cairo', 'Cairo'],
    'Country': ['India', 'India', 'India', 'India', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Egypt', 'Egypt', 'Egypt', 'Egypt'],
    'Season': ['Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'],
    'Temperature': [24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2],
    'Rainfall': [5.9, 16.2, 1549.4, 346.0, 207.7, 169.6, 157.0, 218.5, 16.5, 6.5, 0.1, 4.5]
}

df = pd.DataFrame(data)

conn = sqlite3.connect('temp.db')
df.to_sql('temp_table', conn, if_exists='replace', index=False)

12

In [33]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('temp.db')

query1 = "SELECT City, Temperature FROM temp_table"
df1 = pd.read_sql_query(query1, conn)
print("a) All the temperature data.\n")
print(df1.to_string(index=False))
print("\n")

query2 = "SELECT DISTINCT City FROM temp_table"
df2 = pd.read_sql_query(query2, conn)
print("B) All the cities, but without repetition.\n")
print(df2.to_string(index=False))
print("\n")

query3 = "SELECT * FROM temp_table WHERE Country='India'"
df3 = pd.read_sql_query(query3, conn)
print("C) All the records for India.\n")
print(df3.to_string(index=False))
print("\n")

query4 = "SELECT * FROM temp_table WHERE Season='Fall'"
df4 = pd.read_sql_query(query4, conn)
print("D) All the Fall records.\n")
print(df4.to_string(index=False))
print("\n")

query5 = """SELECT City, Country, Season
            FROM temp_table
            GROUP BY City, Country, Season
            HAVING AVG(Rainfall) BETWEEN 200 AND 400"""
df5 = pd.read_sql_query(query5, conn)
print("E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.\n")
print(df5.to_string(index=False))
print("\n")

query6 = """SELECT City, Country
            FROM temp_table
            WHERE Season='Fall'
            GROUP BY City, Country
            HAVING AVG(Temperature) > 20
            ORDER BY AVG(Temperature) ASC"""
df6 = pd.read_sql_query(query6, conn)
print("F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.\n")
print(df6.to_string(index=False))
print("\n")

query7 = "SELECT SUM(Rainfall) AS Total_Annual_Rainfall FROM temp_table WHERE City='Cairo'"
df7 = pd.read_sql_query(query7, conn)
print("G) The total annual rainfall for Cairo.\n")
print(df7.to_string(index=False))
print("\n")

query8 = "SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM temp_table GROUP BY Season"
df8 = pd.read_sql_query(query8, conn)
print("H) The total rainfall for each season.\n")
print(df8.to_string(index=False))
print("\n")

conn.close()

a) All the temperature data.

  City  Temperature
Mumbai         24.8
Mumbai         28.4
Mumbai         27.9
Mumbai         27.6
London          4.2
London          8.3
London         15.7
London         10.4
 Cairo         13.6
 Cairo         20.7
 Cairo         27.7
 Cairo         22.2


B) All the cities, but without repetition.

  City
Mumbai
London
 Cairo


C) All the records for India.

  City Country Season  Temperature  Rainfall
Mumbai   India Winter         24.8       5.9
Mumbai   India Spring         28.4      16.2
Mumbai   India Summer         27.9    1549.4
Mumbai   India   Fall         27.6     346.0


D) All the Fall records.

  City        Country Season  Temperature  Rainfall
Mumbai          India   Fall         27.6     346.0
London United Kingdom   Fall         10.4     218.5
 Cairo          Egypt   Fall         22.2       4.5


E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

  City        Country Season
London United Kingdom   Fall
London United Kingdom Winter
Mumbai          India   Fall


F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

  City Country
 Cairo   Egypt
Mumbai   India


G) The total annual rainfall for Cairo.

 Total_Annual_Rainfall
                  27.6


H) The total rainfall for each season.

Season  Total_Rainfall
  Fall           569.0
Spring           192.3
Summer          1706.5
Winter           230.1

## Question 9

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

r1 = []
for word in words:
    r1.append(word.upper())
print("a)", r1)

r2 = []
for word in words:
    r2.append(word.lower())
print("b)", r2)

r3 = []
for word in words:
    r3.append(len(word))
print("c)", r3)

r4 = []
for word in words:
    r4.append([word.upper(), word.lower(), len(word)])
print("d)", r4)

r5 = []
for word in words:
    if len(word) >= 4:
        r5.append(word)
print("e)", r5)